.margin-bottom-50 &nbsp;

//.analytic-dashboard-tab
	ul.inline
		li.list-inline-item.active
			span.text-capitalize( ) All assets
		li.list-inline-item
			span.text-capitalize( ) VOD asset
		li.list-inline-item
			span.text-capitalize() Live asset
