.element-wrapper
	.animated.fadeIn(ui-view='')
		.row.mr-top-20
			.col-lg-3.col-md-3.col-xs-4(ng-repeat='ite in blockSytemReport')
				.small-box.pointer.bg(
				class='{{ite.bg}}'
				ui-sref='{{ite.href}}')
					.inner
						h3.white.no-underline.pointer
							span.white {{ite.title}}
						p &nbsp;
					.icon: i.fa(class='{{ite.icon}}')
					a.no-underline.small-box-footer.pointer
						span.mr-right-5 More info
						i.fa.fa-arrow-circle-right
