.row
	.col-md-12
		h1: b Top Content
	.col-md-12
		sbd-date-range-select(ng-start-date='param.startDate' ng-end-date='param.endDate')
	.col-md-12
		sbd-total-summary-each-module(ng-form='null' ng-data='null')
	.col-md-12.mr-top-50
		uiza-dashboard-unique-user-play-request()
	.col-md-12.mr-top-50
		sbd-table-data(ng-form='null' ng-data='null')