.modal.popup-alert-confirm(id="{{topContenModal.id}}" tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true'
data-backdrop="static"
data-keyboard="false"
)
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				h5.modal-title.inline Test
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body.text-center()
				|modal.message
			.modal-footer
				.btn-center
					button.btn.btn-secondary(type='button', data-dismiss='modal' ) Close
					button.btn.btn-primary(type='button') Confirm


.row
	.col-md-12
		h1: b Top Content
	.col-md-12
		sbd-date-range-select(ng-start-date='param.startDate' ng-end-date='param.endDate')
	.col-md-12
		sbd-total-summary-each-module(ng-form='null' ng-data='null')
	.col-md-12.mr-top-50
		uiza-dashboard-unique-user-play-request()
	.col-md-12.mr-top-50
		sbd-table-data(ng-form='null' ng-data='null' ng-title='"Detail"')