extends ./layout
block body
	section.content
		.error-page
			h3.headline.text-info.text-warning.font-30(style='font-size: 80px;')
				i.fa.fa-warning.text-yellow
				span Not found 404
			.error-content
				.row
					.col-md-12
						if (typeof data !== 'undefined' && data && data.message)
							h3= data.message
						else if (typeof data !== 'undefined' && data)
							h3= data
						else
							h3 Not found 404
				.row
					.col-md-12
						label.text-primary
							a(href='/') Home
