doctype html
html.bg-black
	head
		meta(charset='UTF-8')
		title Video Performance
		//meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		include include/style
		block styles
	body.bg-black
		block body
		include include/script
		block script