doctype html
html(lang='en' ng-controller='AppCtrl')
	head
		meta(charset='UTF-8')
		//base(href="/")
		title Admin | Dashboard
		//meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		meta(title='AdminLTE | Dashboard')
		include include/style
		block styles
	body.skin-black
		//menu top
		include include/header
		.wrapper.row-offcanvas.row-offcanvas-left
			//menu left
			sbd-left-menu-sidebar()
			block body
		include include/script
		block script