header.header
	a.logo(href='/')
		| AdminLTE
	nav.navbar.navbar-static-top(role='navigation')
		a.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		sbd-menu-fix-top()
		sbd-user-logged-top()
