header.header
	a.logo(href='/')
		| Video Performance
	nav.navbar.navbar-static-top(role='navigation')
		a.black.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
			i.black.fa.fa-outdent
			//span.sr-only Toggle navigation
			//span.icon-bar
			//span.icon-bar
			//span.icon-bar
		sbd-menu-fix-top()
		sbd-user-logged-top()
