// STYLES
link(rel="stylesheet", href="/css/AdminLTE.css")
link(rel="stylesheet", href="/css/angular-notify.css")
link(rel="stylesheet", href="/css/animate.css")
link(rel="stylesheet", href="/css/bootstrap-datepicker/css/bootstrap-datepicker.css")
link(rel="stylesheet", href="/css/bootstrap-datepicker/css/bootstrap-datepicker3.css")
link(rel="stylesheet", href="/css/bootstrap-daterangepicker/bootstrap-daterangepicker.css")
link(rel="stylesheet", href="/css/bootstrap-slider/slider.css")
link(rel="stylesheet", href="/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.css")
link(rel="stylesheet", href="/css/bootstrap.3.3.7.css")
link(rel="stylesheet", href="/css/colorpicker/bootstrap-colorpicker.css")
link(rel="stylesheet", href="/css/datatables/dataTables.bootstrap.css")
link(rel="stylesheet", href="/css/daterangepicker/daterangepicker-bs3.css")
link(rel="stylesheet", href="/css/font-awesome.css")
link(rel="stylesheet", href="/css/fullcalendar/fullcalendar.css")
link(rel="stylesheet", href="/css/fullcalendar/fullcalendar.print.css")
link(rel="stylesheet", href="/css/iCheck/all.css")
link(rel="stylesheet", href="/css/iCheck/flat/_all.css")
link(rel="stylesheet", href="/css/iCheck/flat/aero.css")
link(rel="stylesheet", href="/css/iCheck/flat/blue.css")
link(rel="stylesheet", href="/css/iCheck/flat/flat.css")
link(rel="stylesheet", href="/css/iCheck/flat/green.css")
link(rel="stylesheet", href="/css/iCheck/flat/grey.css")
link(rel="stylesheet", href="/css/iCheck/flat/orange.css")
link(rel="stylesheet", href="/css/iCheck/flat/pink.css")
link(rel="stylesheet", href="/css/iCheck/flat/purple.css")
link(rel="stylesheet", href="/css/iCheck/flat/red.css")
link(rel="stylesheet", href="/css/iCheck/flat/yellow.css")
link(rel="stylesheet", href="/css/iCheck/futurico/futurico.css")
link(rel="stylesheet", href="/css/iCheck/line/_all.css")
link(rel="stylesheet", href="/css/iCheck/line/aero.css")
link(rel="stylesheet", href="/css/iCheck/line/blue.css")
link(rel="stylesheet", href="/css/iCheck/line/green.css")
link(rel="stylesheet", href="/css/iCheck/line/grey.css")
link(rel="stylesheet", href="/css/iCheck/line/line.css")
link(rel="stylesheet", href="/css/iCheck/line/orange.css")
link(rel="stylesheet", href="/css/iCheck/line/pink.css")
link(rel="stylesheet", href="/css/iCheck/line/purple.css")
link(rel="stylesheet", href="/css/iCheck/line/red.css")
link(rel="stylesheet", href="/css/iCheck/line/yellow.css")
link(rel="stylesheet", href="/css/iCheck/minimal/_all.css")
link(rel="stylesheet", href="/css/iCheck/minimal/aero.css")
link(rel="stylesheet", href="/css/iCheck/minimal/blue.css")
link(rel="stylesheet", href="/css/iCheck/minimal/green.css")
link(rel="stylesheet", href="/css/iCheck/minimal/grey.css")
link(rel="stylesheet", href="/css/iCheck/minimal/minimal.css")
link(rel="stylesheet", href="/css/iCheck/minimal/orange.css")
link(rel="stylesheet", href="/css/iCheck/minimal/pink.css")
link(rel="stylesheet", href="/css/iCheck/minimal/purple.css")
link(rel="stylesheet", href="/css/iCheck/minimal/red.css")
link(rel="stylesheet", href="/css/iCheck/minimal/yellow.css")
link(rel="stylesheet", href="/css/iCheck/polaris/polaris.css")
link(rel="stylesheet", href="/css/iCheck/square/_all.css")
link(rel="stylesheet", href="/css/iCheck/square/aero.css")
link(rel="stylesheet", href="/css/iCheck/square/blue.css")
link(rel="stylesheet", href="/css/iCheck/square/green.css")
link(rel="stylesheet", href="/css/iCheck/square/grey.css")
link(rel="stylesheet", href="/css/iCheck/square/orange.css")
link(rel="stylesheet", href="/css/iCheck/square/pink.css")
link(rel="stylesheet", href="/css/iCheck/square/purple.css")
link(rel="stylesheet", href="/css/iCheck/square/red.css")
link(rel="stylesheet", href="/css/iCheck/square/square.css")
link(rel="stylesheet", href="/css/iCheck/square/yellow.css")
link(rel="stylesheet", href="/css/ionicons.css")
link(rel="stylesheet", href="/css/ionslider/ion.rangeSlider.css")
link(rel="stylesheet", href="/css/ionslider/ion.rangeSlider.skinFlat.css")
link(rel="stylesheet", href="/css/ionslider/ion.rangeSlider.skinNice.css")
link(rel="stylesheet", href="/css/jQueryUI/jquery-ui-1.10.3.custom.css")
link(rel="stylesheet", href="/css/jQueryUI/jquery-ui-1.10.3.custom.min.css")
link(rel="stylesheet", href="/css/jvectormap/jquery-jvectormap-1.2.2.css")
link(rel="stylesheet", href="/css/morris/morris.css")
link(rel="stylesheet", href="/css/ng-tags-input/ng-tags-input.bootstrap.css")
link(rel="stylesheet", href="/css/ng-tags-input/ng-tags-input.css")
link(rel="stylesheet", href="/css/normalize.css")
link(rel="stylesheet", href="/css/timepicker/bootstrap-timepicker.css")
link(rel="stylesheet", href="/styles/admin/styles/admin.css")
link(rel="stylesheet", href="/styles/analytic/styles/analytic.css")
link(rel="stylesheet", href="/styles/main.css")
// STYLES END