.analytic-ccu
	.box.box-info
		.box-header
			h3.box-title
				span.mr-5 Concurrent User
				i.fa.fa-question-circle(sbd-tooltip ng-value='dataTooltip')
			.clearfix
		.box-body
			.row
				.col-md-12
					canvas#concurrentUserChart( width="500" height="500")