.analytis-layout-entity-list
	.box.box-warning
		.box-header
			h3.box-title
				span.mr-5 Top 10 Country by Current Viewers
				i.fa.fa-question-circle(sbd-tooltip ng-value='dataTooltip')
			.clearfix
		.box-body
			.row
				.col-md-9
					.google-chart(
					google-chart
					chart="chart"
					ng-if='loaded ==true '
					)
				.col-md-3
					.layout-list-top-10-country.mt-5
						table.table
							tr(ng-if='top10Country.length <= 0 && loaded')
								td(colspan=3) There is not enough data to analyze
							tr(ng-repeat='ite in top10Country |orderBy :"-value"')
								td
									span.badger-order(ng-class='$index < 3 ? "active" : "" ') {{$index + 1}}
								td
									span.text-capitalize(ng-class='$index < 3 ? "text-bold bold highline" : ""') {{ite.name}}
								td
									span {{ite.value | currency:"":0}}