.row
	.col-lg-3.col-xs-6( ng-repeat='item in menuHomeBlock' )
		.small-box(class='{{item.bg}}' ng-if='type=="homePage"')
			.inner
				h3.white.no-underline.pointer
					a(href='{{item.href}}'  style='text-decoration: none;')
						span.white {{item.title}}
				p &nbsp;
			.icon: i(class='{{item.icon}}')
			a.small-box-footer.pointer(href='{{item.href}}' style='text-decoration: none;')
				span.mr-right-5 More info
				i.fa.fa-arrow-circle-right


		.small-box(class='{{item.bg}}' ng-if='type =="modulePage"')
			.inner
				h3.white.no-underline.pointer
					a(ui-sref='{{item.href}}' style='text-decoration: none;')
						span.white {{item.title}}
				p &nbsp;
			.icon: i(class='{{item.icon}}')
			a.small-box-footer.pointer(ui-sref='{{item.href}}' style='text-decoration: none;')
				span.mr-right-5 More info
				i.fa.fa-arrow-circle-right
