.row
	.col-lg-3.col-xs-6( ng-repeat='item in menuHomeBlock' )
		.small-box.pointer(class='{{item.bg}}'
		ng-if='type=="homePage"'
		ng-click='goLink(item.href)'
		)
			.inner
				h3.white.no-underline.pointer
					a(ng-click='goLink(item.href)'  style='text-decoration: none;')
						span.white {{item.title}}
				p &nbsp;
			.icon: i(class='{{item.icon}}')
			a.no-underline.small-box-footer.pointer(ng-click='goLink(item.href)' style='text-decoration: none;')
				span.mr-right-5 More info
				i.fa.fa-arrow-circle-right


		.small-box.pointer(class='{{item.bg}}'
		ng-if='type =="modulePage"'
		ui-sref='{{item.href}}'
		)
			.inner
				h3.white.no-underline.pointer
					span.white {{item.title}}
				p &nbsp;
			.icon: i(class='{{item.icon}}')
			a.small-box-footer.pointer(ui-sref='{{item.href}}' style='text-decoration: none;')
				span.mr-right-5 More info
				i.fa.fa-arrow-circle-right
