.element-box-tp
	.row.margin-top-30
		.col-md-7
	//		uiza-detail-asset-player(ng-start-date='selectRange.start_date' ng-end-date='selectRange.end_date')
	//	.col-md-5
	//		uiza-detail-asset-detail(ng-start-date='selectRange.start_date' ng-end-date='selectRange.end_date')
	////.row
	////	.col-md-12
	////		uiza-detail-asset-segment-watched(ng-start-date='selectRange.start_date' ng-end-date='selectRange.end_date')
	//.row
	//	.col-md-12
	//		uiza-detail-asset-unique-user(ng-start-date='selectRange.start_date' ng-end-date='selectRange.end_date')
	//.row
	//	.col-md-12
	//		uiza-detail-asset-platform(ng-start-date='selectRange.start_date' ng-end-date='selectRange.end_date')
