aside.right-side
	section.content-header.breadcrumb-content-header-custom
		ol.breadcrumb.home-breadcrumb
			li.active(ng-repeat='ite in breadcrumb')
				a(href='{{ite.href}}' ui-sref='{{ite.href}}')
					i(class='fa fa-dashboard' ng-if='$first')
					span.text-uppercase {{ite.name}}
	.clearfix
	section.content
		div(ui-view='')
			.row
				sbd-home-block(ng-type='"modulePage"')
			.row.mr-top-20
				.col-md-4(style='padding-right:8px;')
					sbd-dashboard-total-summary()
				.col-md-4(style='padding: 0 8px;')
					sbd-dashboard-popular-now()
				.col-md-4(style='padding: 0 8px;')
					sbd-dashboard-trending-past-hour()
			.row
				.col-md-12.mr-top-40
					sbd-dashboard-top-ten-country()
			.row
				.col-md-12.mr-top-40
					sbd-dashboard-concurrent-user()
			.row.mr-top-40
				.col-md-12
					uiza-dashboard-unique-user-play-request()

