.breadcrumb-content-header-custom{
  padding-bottom: 0 !important;
}
.home-breadcrumb{
  float: none !important;
  display: inline-block;
  position: relative !important;
  margin: 10px 0;
  top:0 !important;
  left: 0 !important;
  right: 0 !important;
}