@import 'overwrite_bootstrap';
@import 'variables/color';
@import 'variables/font';
@import 'common/margin-padding';
@import 'common/common';
@import 'login';
@import 'menu-module-fix-top';
@import 'breadcrumb';
@import 'formdata';
@import 'left_menu';
@import 'animation';

.box .box-header .box-title
{
  font-weight: 500;
}

.left-side.sidebar-offcanvas{
  z-index: 9999 !important;
  #menu-left-sidebar{
    z-index: 9999 !important;
  }
}
