.analytic-nav
	ul.inline
		li.list-inline-item(ng-if='showOnDomain()')
			span.text-uppercase(ng-class='{"active": typeView == "analytic.video-quality" }' ng-click='changeView("analytic.video-quality")' ) Video Quality
		li.list-inline-item
			span.text-uppercase(ng-class='{"active": typeView == "analytic" }' ng-click='changeView("analytic")' ) Dashboard
		li.list-inline-item
			span.text-uppercase(ng-class='{"active": typeView == "analytic.business" }' ng-click='changeView("analytic.business")' ) Business	intelligence
		li.list-inline-item
			span.text-uppercase(ng-class='{"active": typeView == "analytic.detail-asset" }'
			ng-disabled='true'
			style='cursor: not-allowed;'
			) detail asset

	//button.btn.btn-success(ng-disabled='true')
		span.text-uppercase Export Options
		i.fa.fa-file.margin-left-10