extends ../layout
block body
	.full-height.full-width(ui-view='')

block script
	// SCRIPTS
	script(src="/application/app.js")
	script(src="/application/appCtrl.js")
	script(src="/application/analytic/index.js")
	script(src="/application/analytic/controller/business/index.js")
	script(src="/application/analytic/controller/content-report/content-drop-off/index.js")
	script(src="/application/analytic/controller/content-report/index.js")
	script(src="/application/analytic/controller/content-report/top-content/index.js")
	script(src="/application/analytic/controller/dashboard/index.js")
	script(src="/application/analytic/controller/line-chart/index.js")
	script(src="/application/analytic/directive/analytic-nav-view/index.js")
	script(src="/application/analytic/directive/business-AssetVideo/index.js")
	script(src="/application/analytic/directive/business-Device/index.js")
	script(src="/application/analytic/directive/business-Geography/index.js")
	script(src="/application/analytic/directive/businessPlayer/index.js")
	script(src="/application/analytic/directive/businessStatistic/index.js")
	script(src="/application/analytic/directive/businessTrafficSource/index.js")
	script(src="/application/analytic/directive/dashboard-ConcurrentUser/index.js")
	script(src="/application/analytic/directive/dashboard-PopularNow/index.js")
	script(src="/application/analytic/directive/dashboard-tab/index.js")
	script(src="/application/analytic/directive/dashboard-Top10Country/index.js")
	script(src="/application/analytic/directive/dashboard-TotalSummary/index.js")
	script(src="/application/analytic/directive/dashboard-TrendingPastHour/index.js")
	script(src="/application/analytic/directive/dashboard-UniqueUserPlayRequest/index.js")
	script(src="/application/analytic/directive/date-range-select/index.js")
	script(src="/application/analytic/directive/detailAssetDetail/index.js")
	script(src="/application/analytic/directive/detailAssetDeviceGeoPlayerTraffic/index.js")
	script(src="/application/analytic/directive/detailAssetPlayer/index.js")
	script(src="/application/analytic/directive/detailAssetSegmentWatched/index.js")
	script(src="/application/analytic/directive/detailAssetUniqueUser/index.js")
	script(src="/application/analytic/directive/list-color-analytic/index.js")
	script(src="/application/analytic/directive/navView/index.js")
	script(src="/application/analytic/directive/table-data/index.js")
	script(src="/application/analytic/directive/total-summary-each-module/index.js")
	script(src="/application/analytic/service/AnalyticService.js")
	script(src="/application/analytic/service/HelperService.js")
	script(src="/application/master/directive/admin_group/index.js")
	script(src="/application/master/directive/checkbox/index.js")
	script(src="/application/master/directive/datatable/index.js")
	script(src="/application/master/directive/datePicker/index.js")
	script(src="/application/master/directive/dateTimePicker/index.js")
	script(src="/application/master/directive/formdata/index.js")
	script(src="/application/master/directive/home_block/index.js")
	script(src="/application/master/directive/left_menu_sidebar/index.js")
	script(src="/application/master/directive/menu_fix_top/index.js")
	script(src="/application/master/directive/popup-alert/index.js")
	script(src="/application/master/directive/readObjectKey/index.js")
	script(src="/application/master/directive/tooltip/index.js")
	script(src="/application/master/directive/user_logged_top/index.js")
	script(src="/application/master/factory/AuthInterceptor.js")
	script(src="/application/master/filter/dateFormat.js")
	script(src="/application/master/filter/formatBytes.js")
	script(src="/application/master/filter/secondToHHmmss.js")
	script(src="/application/master/service/ApiService.js")
	script(src="/application/master/service/UserService.js")
	script(src="/application/master/service/UtitService.js")
	// SCRIPTS END
