uiza-list-color(ng-model='dataDetail' ng-form-data='detailfromData')


.element-box.margin-top-30
	ul.detail-form-video-info
		li(ng-repeat='item in formVideoInfo')
			span.title
				span(style='margin: 0 5px;') {{item.title}}
			span.badget(ng-if='item.type == "text"') {{itemVideoInfo[item.key] || item.value }}
			span.badget(ng-if='item.type == "date"') {{itemVideoInfo[item.key] | date : 'dd/MM/yyyy' }}
			span.badget(ng-if='item.type == "time"') {{itemVideoInfo[item.key] | secondToTime : 'hh:mm:ss' }}
