.row
	.col-md-12
		h1: b OS Report
	.col-md-12
		sbd-date-range-select(ng-start-date='param.startDate' ng-end-date='param.endDate')
	.col-md-12
		sbd-total-summary-each-module(ng-form-summary='formSummary' ng-data-summary='dataSummary')
	.col-md-12.mr-top-50
		uiza-module-chart(ng-title='"Platform"'
		ng-option-chart='optionChart'
		ng-nav-tab-type='chartNavTabType'
		ng-label-chart='dataLabelsChart'
		ng-dataset-chart='dataSetChart'
		)
	.col-md-12.mr-top-50
		sbd-table-data(ng-form-table='form' ng-data-table='data' ng-title='"Detail"' ng-pagination='pagination')